<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.andersfisher.phonegap"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Drag the dots</name>

    <description>
        A simple yet addictive game for all the family. 
    </description>

    <author href="https://andersfisher.com" email="anders@js-dev.co.uk">
        Anders Fisher 
    </author>

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="target-device" value="handset" />
</widget>