<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dragthedots.v1"
        versionCode = "104" 
        version   = "1.0.4">

    <!-- versionCode is optional and Android only -->

    <name>Drag the dots</name>

    <description>
        A simple yet addictive game for all the family. 
    </description>

    <author href="https://andersfisher.com" email="anders@js-dev.co.uk">
        Anders Fisher 
    </author>
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="target-device" value="handset" />
    <icon src="icon.png" />
    <icon src="android_icons/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="android_icons/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="android_icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
</widget>
