@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(light.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(normal.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(bold.ttf) format('truetype');
}
@keyframes rotate
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-webkit-keyframes rotate /* Safari and Chrome */
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes random
{
  0 { 
    box-shadow: 
      2px 3px 0 white,
      3px 4px 0 white,
      8px 2px 0 white,
      11px 3px 0 white,
      4px 5px 0 white,
      5px 6px 0 white,
      6px 6px 0 white,
      1px 8px 0 white,
      8px 9px 0 white,
      6px 15px 0 white
    ;
  }
  30% {
    box-shadow: 
      6px 7px 0 white,
      6px 6px 0 white,
      8px 9px 0 white,
      11px 3px 0 white,
      8px 2px 0 white,
      4px 5px 0 white,
      5px 6px 0 white,
      3px 4px 0 white,
      1px 8px 0 white,
      15px 7px 0 white
    ;
  }
  60% {
    box-shadow: 
      15px 15px 0 white
      8px 2px 0 white,
      3px 4px 0 white,
      8px 9px 0 white,
      4px 5px 0 white,
      2px 3px 0 white,
      5px 6px 0 white,
      6px 6px 0 white,
      1px 8px 0 white,
      4px 3px 0 white,
    ;
  }
  100% { 
    box-shadow: 
      2px 3px 0 white,
      3px 4px 0 white,
      8px 2px 0 white,
      11px 3px 0 white,
      4px 5px 0 white,
      5px 6px 0 white,
      6px 6px 0 white,
      1px 8px 0 white,
      8px 9px 0 white,
      6px 15px 0 white
    ;
  }
}
@-webkit-keyframes random
{
  0 { 
    -webkit-box-shadow: 
      2px 3px 0 white,
      3px 4px 0 white,
      8px 2px 0 white,
      11px 3px 0 white,
      4px 5px 0 white,
      5px 6px 0 white,
      6px 6px 0 white,
      1px 8px 0 white,
      8px 9px 0 white,
      15px 15px 0 white
    ;
  }
  30% {
    -webkit-box-shadow: 
      2px 3px 0 white,
      6px 6px 0 white,
      8px 9px 0 white,
      11px 3px 0 white,
      8px 2px 0 white,
      4px 5px 0 white,
      5px 6px 0 white,
      3px 4px 0 white,
      1px 8px 0 white,
      15px 15px 0 white
    ;
  }
  60% {
    -webkit-box-shadow: 
      15px 15px 0 white
      8px 2px 0 white,
      3px 4px 0 white,
      8px 9px 0 white,
      4px 5px 0 white,
      2px 3px 0 white,
      5px 6px 0 white,
      6px 6px 0 white,
      1px 8px 0 white,
      11px 3px 0 white,
    ;
  }
  100% { 
    -webkit-box-shadow: 
      2px 3px 0 white,
      3px 4px 0 white,
      8px 2px 0 white,
      11px 3px 0 white,
      4px 5px 0 white,
      5px 6px 0 white,
      6px 6px 0 white,
      1px 8px 0 white,
      8px 9px 0 white,
      15px 15px 0 white
    ;
  }
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin:0;
  padding:0;
}
article{
  text-align: center;
}
.screen{
  position:absolute;
  width:100%;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  padding:16px;
  top:0;
  left:0;
  display: none;
}
#intro{
  overflow:hidden;
}
#container{
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
h2{
  font-size:36px;
  font-weight:400;
  color:white;
  padding: 16px 0;
  background: rgba(0,0,0,0.3);
  margin: -16px;
  margin-bottom:16px;
  position:relative;
}
#container h2{
  position:absolute;
  z-index:2000;
  top:0;
  left:0;
  padding:8px 0;
  background:rgba(0,0,0,0.3);
  text-align: center;
  font-size:36px;
  color:white;
  width:100%;
  pointer-events:none;
  margin:0;
}
h2 a.btn.back-menu{
  z-index:2001;
  pointer-events:auto;
  margin-bottom: 0;
  border-radius: 0;
  height: 0px;
  line-height:0;
  padding: 46px 12px;
  width: 56px;
  margin: -16px 0 -16px -23px;
}
h3{
  color:white;
  font-size:32px;
  margin-bottom: 20px;
}
p{
  color:white;
  font-size:16px;
  margin-bottom:16px;
}
p a{
  color:inherit;
  font-weight:bold;
  text-decoration:none;
}
.not-name{
  text-decoration: none;
  color:white;
  display:block;
  font-size:12px;
  margin: -12px auto 24px auto;
}
body{
  background-color:hsl(140, 50%,35%);
  font-family:'Lato', sans-serif;
  transition: background-color 0.25s ease-out;
}
table{
  margin: 0 auto 20px;
  width:100%;
  max-width:400px;
  border-collapse: collapse;
  border-radius: 2px;
}
td, th{
  padding:4px 8px;
  text-align: left;
}
tr:nth-child(even){
  background:rgba(255,255,255,0.5);
}
thead{
  background:rgba(0,0,0,0.3);
  color:white;
}
thead th:first-child{
  border-top-left-radius: 4px;
}
thead th:last-child{
  border-top-right-radius: 4px;
}
tbody{
  background:rgba(255,255,255,0.3);
  color:#333;
}
tbody tr:last-child td:first-child{
  border-bottom-left-radius: 4px;
}
tbody tr:last-child td:last-child{
  border-bottom-right-radius: 4px;
}
button,
a.btn{
  text-decoration:none;
  font-weight:bold;
  color:rgba(0,0,0,0.6);
  padding: 10px;
  border-radius:2px;
  line-height:16px;
  margin-bottom: 16px;
  background:rgba(255,255,255,0.4);
  border:0;
  font-size: 16px;
  cursor:pointer;
  display:inline-block;
  transition:background 0.5s ease-out;
}
a.btn:hover{
  background:rgba(255,255,255,0.5);
}
a.btn:active{
  background:rgba(255,255,255,0.6);
}
button.block,
a.btn.block{
  display:block;
  width:auto;
  margin-right:0;
  margin-bottom:8px;
}
nav{
  font-size:0;
}
nav a.btn{
  margin-right:8px;
  margin-bottom:8px;
}
nav a.btn.big{
  width:120px;
  height:60px;
  font-size:24px;
  font-weight:lighter;
  background:rgba(0,0,0,0.5);
  color:rgba(255,255,255,0.6);
}
nav a.btn.big.game{
  background:rgba(255,255,255,0.5);
  color:rgba(0,0,0,0.6);
}
nav a.btn:last-child{
  margin-right:0;
}

input[type="text"] {
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background:rgba(255,255,255,0.8);
  color:rgba(0,0,0,0.6);
  font-size: 16px;
  -webkit-appearance:none;
}
.dot,
.pseudo_dot{
  position:absolute;
  border-radius:30px;
  width:60px;
  margin:-30px;
  height:0;
  line-height:0;
  vertical-align: middle;
  padding: 30px 0;
  cursor:pointer;
  color: white;
  font-size:24px;
  font-weight:700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:0;
}
.dot.ui-draggable-dragging{
  z-index:10;
}
.dot.moving,
.pseudo_dot.moving{
  -webkit-transition: top 0.3s ease-out, left 0.3s ease-out;
  transition: top 0.3s ease-out, left 0.3s ease-out;
}
.dot.spinny,
.pseudo_dot.spinny{
  animation: rotate 0.4s ease-out infinite;
  -webkit-animation: rotate 0.4s ease-out infinite;
  color:#333;
  background:white;
}
.dot.tiny,
.pseudo_dot.tiny{
  padding:15px 0;
  width:30px;
  font-weight:400;
  font-size:12px;
  margin:-15px;
}
.dot.no-numbers{
  color:transparent;
}
.dot.moving.ui-draggable-dragging{
  -webkit-transition: none;
  -webkit-animation: none;
  transition: none;
  animation: none;
}
.spinner{
  display:block;
  width:32px;
  height:32px;
  margin: 0 auto;
  position:relative;
  animation: rotate 5s linear infinite;
  -webkit-animation: rotate 5s linear infinite; /* Safari and Chrome */
}
.spinner span{
  width:4px;
  height:4px;
  border-radius: 2px;
  display:block;
  position:absolute;
  margin:-2px;
  background:rgba(255,255,255,0.6);
}
.spinner .spin1{
  top:4px;
  left:16px;
  box-shadow: -1px 0 0 rgba(255,255,255,0.4), 
        -2px 0.5px 0 rgba(255,255,255,0.3), 
        -3px 0.5px 0 rgba(255,255,255,0.2), 
        -4px 1px 0 rgba(255,255,255,0.1);
}
.spinner .spin2{
  bottom:4px;
  left:16px;
  box-shadow: 1px 0 0 rgba(255,255,255,0.4), 
        2px -0.5px 0 rgba(255,255,255,0.3), 
        3px -0.5px 0 rgba(255,255,255,0.2), 
        4px -1px 0 rgba(255,255,255,0.1);
}
.spinner .spin3{
  top:16px;
  left:4px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.4), 
        -0.5px 2px 0 rgba(255,255,255,0.3), 
        -0.5px 3px 0 rgba(255,255,255,0.2), 
        -1px 4px 0 rgba(255,255,255,0.1);
}
.spinner .spin4{
  top:16px;
  right:4px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.4), 
        0.5px -2px 0 rgba(255,255,255,0.3), 
        0.5px -3px 0 rgba(255,255,255,0.2), 
        1px -4px 0 rgba(255,255,255,0.1);
}
#options input[type=checkbox]{
  display:none;
}
#options label{
  position:relative;
  display:block;
  text-align: left;
}
#options label:after{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  content: '';
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  border:2px solid white;
  position:absolute;
  right:0;
  top:10px;
}
#options label.checked:after{
  background:white;
}

/* icons */
.icon{
    width:28px;
    height:28px;
    position:relative;
    border-radius:2px;
    display:block;
    margin:0 auto;
}
.icon:after{
    width:4px;
    height:4px;
    border-radius:2px;
    background:white;
    position:absolute;
    top: 4px;
    left: 4px;
    content:"";
    display:block;
    box-shadow: 
        8px 0 0 white,
        16px 0 0 white,
        0 8px 0 white,
        8px 8px 0 white,
        16px 8px 0 white,
        0 16px 0 white,
        8px 16px 0 white,
        16px 16px 0 white
    ;
}
.icon.tiny:after{
    width:2px;
    height:2px;
    left:5px;
    top:5px;
}
.icon.gridplus:after{
    top: 3px;
    left: 3px;
    box-shadow: 
        6px 0 0 white,
        12px 0 0 white,
        18px 0 0 white,
        0 6px 0 white,
        6px 6px 0 white,
        12px 6px 0 white,
        18px 6px 0 white,
        0 12px 0 white,
        6px 12px 0 white,
        12px 12px 0 white,
        18px 12px 0 white,
        0 18px 0 white,
        6px 18px 0 white,
        12px 18px 0 white,
        18px 18px 0 white
    ;
}
.icon.circle{
  animation: rotate 4s linear infinite;
  -webkit-animation: rotate 4s linear infinite;
}
.icon.circle:after{
  top: 3px;
  left: 12px;
  color:white;
  box-shadow:
    6px 2px 0 white,
    -6px 2px 0 white,
    8px 8px 0 white,
    -8px 8px 0 white,
    0 16px 0 white,
    6px 14px 0 white,
    -6px 14px 0 white
  ;
}
.icon.random:after{
    top: 3px;
    left: 3px;
    box-shadow: 
      2px 3px 0 white,
      3px 4px 0 white,
      8px 2px 0 white,
      11px 3px 0 white,
      4px 5px 0 white,
      5px 6px 0 white,
      6px 6px 0 white,
      1px 8px 0 white,
      8px 9px 0 white,
      15px 15px 0 white
    ;
}
.icon.moving:after{
  top: 3px;
  left: 3px;
  box-shadow: 
    9px 8px 0 white,
    6px 3px 0 white,
    8px 2px 0 white,
    11px 3px 0 white,
    4px 5px 0 white,
    7px 6px 0 white,
    6px 8px 0 white,
    1px 8px 0 white,
    8px 9px 0 white,
    15px 5px 0 white
  ;
  animation:random 2s linear infinite;
  -webkit-animation:random 2s linear infinite;
}
